{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="form-error">
            <ul style="margin: 0; padding-left: 1.2rem; list-style: none;">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
