<form method="post" action="{{ path('app_patch_cycle_delete', {'cycleId': patch_cycle.cycleId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="margin-top:1rem;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ patch_cycle.cycleId) }}">
    <button class="btn ghost">Delete</button>
</form>
