{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'admin/_styles.html.twig' %}
{% endblock %}

{% block header %}{% endblock %}
{% block main_class %}admin-shell-wrapper{% endblock %}

{% block body %}
<div class="admin-shell">
    {% include 'admin/_sidebar.html.twig' %}
    <div class="admin-main">
        {% include 'admin/_topbar.html.twig' %}
        <div class="admin-content">
            {% block admin_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
